body{
    font-family: 'Ubuntu';
}
.mainsection3
{
    position: relative;
    display: flex;
    height: 800px;
    gap: 800px;
    margin-left: 100px;
}
.i13
{
    position: absolute;
    top: 170px;
    left: 70px;
}
.p2
{
    display: flex;
    flex-direction: column;
    margin-top: 220px;
    gap: 25px;
}
.headin
{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    color: var(--section1c1);
}
.conte
{
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--section1c2);
}
.co21
{
    font-size: 18px;
}
.co2
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.p13
{
    margin-top: -50px;
}