body{
    font-family: 'Ubuntu';
}
.mainsection1
{
    position: relative;
    display: flex;
    height: 550px;
    gap: 100px;
    margin-left: 200px;
}
.i123
{
    position: absolute;
    top: -100px;
}
.p2
{
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    gap: 25px;
}
.headin
{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    color: var(--section1c1);
}
.conte
{
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--section1c2);
}
.co21
{
    font-size: 18px;
}
.co2
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.p13
{
    margin-top: -50px;
}