 
.bimg
{
    position: absolute;
    top: 1400px;
    left: 100px;
}

 .mn
{
    position: relative;
    padding: 30px;
    margin-top: 830px;
    
}
.reim
{
    position: absolute;
    left: 70px;
    top: 1150px;
}
.faq
{
    position: absolute;
    top:2100px;
    left:170px;
} 
/* .lse
{
    position: absolute;
    top: 2880px;
    left: 220px;
}  */
 .mp
 {  display: flex;
    gap:50px;
    position: relative;
    height: 550px;
    width: 1100px;
    background-color: black;
    left: 180px;
    top: 2900px;
    border-radius: 10px;
 }
 .l1
{
    position: absolute;
    top:230px;
}

.img1
{
    position: absolute;
    left:750px;
}
.img2
{
    position: absolute;
    left:690px;
}
.img3
{
    position: absolute;
    left:598px;
    top:50px;
}
.co
{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:150px;
    gap:15px;
    left: 50px;
}
.downbt
{
    background-color: white;
}
.downbt a{
    color: black;
}
.s7
{
    position: absolute;
    left:608px;
    top:40px;
}
.s6
{
    position: absolute;
    top:350px;
    left: 300px;
}